@font-face {
  font-family: "iconfont"; /* Project id 3291192 */
  src: url('/font_3291192_49zqbstun9u.woff2') format('woff2'),
       url('/font_3291192_49zqbstun9u.woff') format('woff'),
       url('/font_3291192_49zqbstun9u.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qutouzi:before {
  content: "\e74f";
}

.icon-bingzhuangtucopy:before {
  content: "\e6c6";
}

.icon-shezhi1:before {
  content: "\e8b7";
}

.icon-shizhongfill:before {
  content: "\e74e";
}

.icon-xiangshang1:before {
  content: "\e76d";
}

.icon-xiangxia1:before {
  content: "\e771";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-mima1:before {
  content: "\e665";
}

.icon-yaoqingma:before {
  content: "\e658";
}

.icon-renzhengyonghu:before {
  content: "\e602";
}

.icon-kefu1:before {
  content: "\e63c";
}

.icon-shoucang:before {
  content: "\e86d";
}

.icon-tikuan:before {
  content: "\e603";
}

.icon-chongzhi:before {
  content: "\e65c";
}

.icon-guanliyuanrenzheng_o:before {
  content: "\eb54";
}

.icon-shoucang1:before {
  content: "\e8b9";
}

.icon-jifenmingxi:before {
  content: "\e63d";
}

.icon-touxiang:before {
  content: "\e618";
}

.icon-wode1:before {
  content: "\e601";
}

.icon-jiaoyishuju:before {
  content: "\e7e8";
}

.icon-mima:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-hangqing:before {
  content: "\e6a9";
}

.icon-qiapian:before {
  content: "\e6c4";
}

.icon-warehouse-delivery:before {
  content: "\e87b";
}
